#a1 {
    text-align: center; color: #592828;
    font-size: 30px;
}
a:link,a:visited {
    color:chocolate;
    background-color: floralwhite;
    padding: 5px 5px;
}
a:hover,a:active {
    color: #B86B77;
    background-color: #F7CAC9;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-image:url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v957-nunny-17_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=a6ba43cd8fac9e089afcf4d5ac3ab048);
}
.class {
    text-decoration: crimson;
    font-size: 20px;
    padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;
    margin-top:2%; margin-left: 30%; margin-right: 30%;
    border:7px solid#BF7B75;
    background-color: #8C4646;
}